.main{
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.enter{
  margin-top: 20px;
  padding: 16px;
  width: 100%;
  background-color: black;
  border-radius: 16px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;

}